---
import "../../styles/global.css";

import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Metadata from "../../components/Metadata.astro";

import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <Metadata />
        <title>Blogs</title>
    </head>
    <body>
        <Header />
        <main>
            <h1>Blog Overview</h1>
            <p>Here are some of my blog posts:</p>
            <table>
                <thead>
                    <tr>
                        <th>Post Name</th>
                        <th>Description</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {
                        posts.map((post) => (
                            <tr>
                                <td><a href={`/blog/${post.slug}`}>{post.data.title}</a></td>
                                <td>{post.data.description}</td>
                                <td><FormattedDate date={post.data.pubDate} /></td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </main>
        <Footer />
    </body>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: rgb(40, 50, 60);
        }

        tr:nth-child(even) {
            background-color: rgb(40, 50, 60);
        }

        tr:hover {
            background-color: rgb(50, 60, 70);
        }
    </style>
</html>
