html {
    background-color: rgb(20, 25, 40);
    /* nerd font */
    font-family: 'nerd-font';
    color: white;
    font-size: 16px;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    /* slighly purple but mostly white title */
    color: rgb(200, 200, 255);
}

a {
    color: rgb(0, 255, 255);
}

a:hover {
    color: rgb(0, 200, 200);
}