---
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Metadata from "../components/Metadata.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata />
    <title>Not found</title>
  </head>
  <body>
    <Header />
    <main>
        <h1>404 Not found</h1>
        <p>Hey, you are not supposed to be here. But since you are here</p>
    </main>
    <Footer />
  </body>
  <style>
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  </style>
</html>
