---
import Layout from '../layouts/Layout.astro';
---

<Layout title="osbm index">
  <h1>Welcome to my site</h1>
  <p>This is a simple site built with Astro</p>

I am building this site.

please see <a href="https://osmanbayram.com">osmanbayram.com</a> my current main page

</Layout>
