

<header>
    <nav>
        <a href="/" class="header-osbm">OSBM</a>
        <a href="/blog" class="header-blog">Blog</a>
    </nav>
</header>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    .header-osbm {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .header-blog {
        font-size: 1.5rem;
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }

</style>