
<header>
    <nav>
        <a href="/" class="header-osbm">osbm</a>
        <a href="/blog" class="header-blog">blog</a>
    </nav>
</header>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
    }

    .header-osbm {
        font-size: 3.5rem;
        font-weight: bold;
        border: 1px solid black;
        padding: 0rem 1rem;

        border-radius: 1rem;
        border-color: #fff;
    }

    .header-blog {
        font-size: 2.5rem;
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }

</style>
